* {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
}

body {
    position: relative;
}
.display_none{
    display: none;
}
.opc0{
  opacity: 0;  
  pointer-events: none;
}
.background1 {
    background: url(../img/bgc02.jpg);
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    pointer-events: none;
    top: 0;
}

.background-img {
    background: url(../img/bg.svg);
    background-size: cover;
    position: absolute;
    pointer-events: none;
    top: 0;
}

.background {
    position: relative;
}
.showbox{
    background: url(../img/box8.png);
    background-size: cover;
    position: absolute;
    top: 1.7%;
    left: 1.8%;
}

.changeMoneyAreaBottom{
    background: url(../img/box10.png);
    background-size: cover;
    position: absolute;
    top: 1.7%;
    left: 79.345%;
}
.change_btn{
    background: url(../img/newtRe.png);
    background-size: cover;
    position: absolute;
    top: 67.5%;
    left: 80.75%;
    cursor: pointer;
}
.close_btn{
    background: url(../img/x.svg);
    background-size: cover;
    position: absolute;
    top: 89.8%;
    left: 94.8%;
    cursor: pointer;
}
.useteach{
    background: url(../img/btS.svg);
    background-size: cover;
    position: absolute;
    top: 89.8%;
    left: 80%;
    cursor: pointer;
}
.countpic{
    background: url(../img/newbox3.png);
    background-size: cover;
    position: absolute;
    top: 80%;
    left: 64.8%;
}
.delete_btn{
    background: url(../img/newbox4.png);
    background-size: cover;
    position: absolute;
    top: 81%;
    cursor: pointer;
    left: 74.5%;
}
.toggleDisplayBtn{
    background: url(../img/newbox3-1.png);
    background-size: cover;
    position: absolute;
    top: 81%;
    cursor: pointer;
    left: 65.3%;
}
.inputarea{
    background: url(../img/box1.png);
    background-size: cover;
    position: absolute;
}
.inputarea1{
    top: 89.5%;
    left: 1.9%;
}
.inputarea2{
    top: 89.5%;
    left: 10.8%;
}
.inputarea3{
    top: 89.5%;
    left: 19.8%;
}
.inputarea4{
    top: 89.5%;
    left: 28.7%;
}
.inputarea5{
    top: 89.5%;
    left: 37.5%;
}
.inputarea6{
    top: 89.5%;
    left: 46.5%;
}
.inputarea7{
    top: 89.5%;
    left: 55.5%;
}
.arrow{
    background: url(../img/box2.png);
    background-size: cover;
    position: absolute;
    cursor: pointer;
}
.arrow1{
    top: 93%;
    left: 8.2%;
}
.arrow2{
    top: 93%;
    left: 17.1%;
}
.arrow3{
    top: 93%;
    left: 26%;
}
.arrow4{
    top: 93%;
    left: 35%;
}
.arrow5{
    top: 93%;
    left: 44%;
}
.arrow6{
    top: 93%;
    left: 52.8%;
}
.arrow7{
    top: 93%;
    left: 61.8%;
}
.choosenum{
    background: url(../img/box5.png);
    background-size: cover;
    position: absolute;
    transform-origin: 50% 100%;
    transform: scale(0);
    transition: 0.2s;

}
.choosenum1{
    top: 26%;
    left: 2%;
}
.choosenum2{
    top: 26%;
    left: 11%;
}
.choosenum3{
    top: 26%;
    left: 20%;
}
.choosenum4{
    top: 26%;
    left: 29%;
}
.choosenum5{
    top: 26%;
    left: 38%;
}
.choosenum6{
    top: 26%;
    left: 46.8%;
}


.choosenum7{
    top: 26%;
    left: 55.7%;
}

.img_thd{
    position: absolute;
    top: 80.8%;
    left: 1.3%;
}
.img_fivehun{
    position: absolute;
    top: 80.8%;
    left: 10.85%;
}
.img_hun{
    position: absolute;
    top: 80.7%;
    left: 20.3%;
    
}
.img_fifty{
    position: absolute;
    top: 80%;
    left: 30.7%;
}
.img_ten{
    
    position: absolute;
    top: 80.6%;
    left: 39.5%;
}
.img_five{
    
    position: absolute;
    top: 81.2%;
    left: 48.8%;
}
.img_one{
    
    position: absolute;
    top: 82%;
    left: 58%;
}





.img_thd1{
    position: absolute;
    top: 10.8%;
    left: 82%;
}
.img_fiv1{
    position: absolute;
    top: 22.8%;
    left: 82%;
}
.img_hun1{
    position: absolute;
    top: 34.8%;
    left: 82.5%;
    
}
.img_fif1{
    position: absolute;
    top: 10.8%;
    left: 92.3%;
}
.img_ten1{
    
    position: absolute;
    top: 20.5%;
    left: 92.6%;
}
.img_ive1{
    
    position: absolute;
    top: 29.2%;
    left: 92.9%;
}
.img_one1{
    
    position: absolute;
    top: 37%;
    left: 93.2%;

}
.img_block2{
    cursor: pointer;
    
}
.now_num{
    position: absolute;
  

}
.loadingnone{
    opacity: 0;
}
.thd1_num{
    top: 18.5%;
    left: 90%;
}
.fiv1_num{
    top: 30.5%;
    left: 90%;
}
.hun1_num{
    top: 42%;
    left: 90%;
}
.fif1_num{
    top: 18%;
    left: 95.5%;
}
.ten1_num{
    top: 26.5%;
    left: 95.5%;
}
.ive1_num{
    top: 34%;
    left: 95.5%;
}
.one1_num{
    top: 40.5%;
    left: 95.5%;
}
.numberframe{
    position: absolute;
    top: 2%;
    left: 8%;
}
.img_block{
    cursor: pointer;

}
.numlist{
    font-family: "微軟正黑體";
    text-align: center;
    font-weight: 700;
    color: #555;
    cursor: pointer;
}
.numlist:hover{
    background: #95C97E;
    color: #fff;
}
.dragselected{
    background: url(../img/tR1.svg);
    background-size: cover;
    position: absolute;
    top: 48.3%;
    left: 80%;
}
.selectedframe{
    /* background: #95C97E; */
    position: absolute;
    top: 46.4%;
    left: 80.8%;
    pointer-events: none;
    /* opacity: 0.5; */
}
.box{
    position: absolute;
    top: 46.4%;
    left: 80.8%;
    overflow: hidden; 
    cursor: pointer;
    scroll-snap-type : center ;
}
.img_box{
    background: url(../img/bar22.png);
    
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
}
.movetopbtn{
    background: url(../img/tRL.png);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 94%;
    cursor: pointer;
}
.movedownbtn{
    background: url(../img/tRR.png);
    background-size: cover;
    position: absolute;
    top: 59%;
    left: 94%;
    
    cursor: pointer;
}

.enter_input{
    font-family: "微軟正黑體";
    position: absolute;
    font-weight: 700;
    background: none;
    outline: none;
    border: 0px;
    text-align:right;

}
.enter_thd{
    top: 92%;
    left: 3.2%;
    color: #666;
}
.enter_fivehrd{
    top: 92%;
    left: 12.1%;
    color: #666;
}
.enter_hrd{
    top: 92%;
    left: 21.1%;
    color: #666;
}
.enter_fifty{
    top: 92%;
    left: 30%;
    color: #666;
}
.enter_five{
    top: 92%;
    left: 47.8%;
    color: #666;
}
.enter_ten{
    top: 92%;
    left: 39%;
    color: #666;
}
.enter_one{
    top: 92%;
    left: 56.8%;
    color: #666;
}
.count{
    font-family: "微軟正黑體";
    position: absolute;
    font-weight: 700;
    background: none;
    outline: none;
    border: 0px;
    text-align:center;
    top: 86.0%;
    left: 67%;
    color: #666;

}
.mask{
    position: absolute;
    top: 0%;
    background: rgba(102, 102, 102, 0.541);
    z-index: 99;
    left: 0%;
}
.canvas-container{
    position: absolute;
    top:0%;
    left: 3.2%;
}
.info{
    background: url(../img/newwindow.svg);
    background-size: cover;
    position: absolute;
    top: 10%;
    left: 21%;
}
.btn_close_inset{
    background: url(../img/wX.png);
    background-size: cover;
    position: absolute;
    top: 6.5%;
    left: 91%;
    cursor: pointer;
}
.info-page{
    background: url(../setpic/page1.svg);
    background-size: cover;
    position: absolute;
    top:2.85%;
    left: 1.79%;
}
.info-btn-left{
    background: url(../img/wL.png);
    background-size: cover;
    position: absolute;
    top:48%;
    left: 3.5%;

}
.info-btn-right{
    background: url(../img/wR.png);
    background-size: cover;
    position: absolute;
    top:48%;
    left: 93%;
}
.realmoneyarea{
    background: url(../img/btA.svg);
    background-size: cover;
    position: absolute;
    top: 81%;
    left: 80%;
    cursor: pointer;

}
.realmoney{
  
    position: absolute;
    top: 81.3%;
    left: 80.3%;
    /* left: 86.56%; */
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s;
}
.realpic{
    width: 100%;
    height: 100%;
    background: url(../img/btAB.svg);
    background-size: cover;
}