.Page_Number {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;

	width: 1920px;
	height: 900px;
	overflow: hidden;
	/*display:none;*/
}

.Page_Number > .TypeNumber {
	position: absolute;
    left: 8%;
    top: 3%;
	z-index: 1;
    width: 900px;
    height: 800px;
}
.Page_Number > .TypeNumber > .Number1{
    position: absolute;
    left: 33.4%;
    top: 72.3%;
    width: 900px;
    height: 69px;
}


.Page_Number > .TypeNumber >  div >.Plus{
	position: absolute;
    top: 19%;
    left: 29.2%;
    width: 47px;
    height: 42px;
}

.Page_Number > .TypeNumber > div >.txtTitle{
	position: absolute;
    top: 10%;
	left: 0%;
	color: #a3a3a3;
	font-weight: 900;
	font-size: 45px;

    width: 30px;
    height: 69px;
}
.Page_Number > .TypeNumber > div > .underline{
    border-bottom-style: solid;
    border-bottom-color: #868686;
    position: absolute;
    top: -8%;
    left: 70.5%;
    font-size: 45px;
    width: 180px;
    height: 69px;
    border-bottom-width: 2px;
 }

 .Page_Number > .TypeNumber > div > .underline2{
    border-bottom-style: solid;
    border-bottom-color: #868686;
    position: absolute;
    top: -8%;
    left: 97%;
    font-size: 45px;
    width: 180px;
    height: 69px;
    border-bottom-width: 2px;
 }
.Remainder
{
    position: absolute;
    top: 88%;
    left: 91.9%;
    width: 34px;
    height: 8px;
}
 .Page_Number > .TypeNumber > div > .Read{
     position: absolute;
     top: 1%;
     left: 28.5%;
     width: 114px;
     height: 68px;
 }
 .Page_Number > .TypeNumber > div > .Add{
     position: absolute;
     top: 21%;
     left: 83%;
     width: 57px;
     height: 57px;
 }
 .Page_Number  > .TypeNumber > .TypeNumberTable{
     position: absolute;
     top: -2%;
     left: 16%;
     border-spacing: 0px 0px;
 }
 .Page_Number > .TypeNumber > .TypeNumberTable > thead > tr > .th1{
     background-color: #ffbee1;
     font-weight: 900;
     font-size: 28px;
 }
 .Page_Number > .TypeNumber > .TypeNumberTable > thead > tr > .th2{
    background-color: #78ebfe;
    font-weight: 900;
    font-size: 28px;
}
.Page_Number > .TypeNumber > .TypeNumberTable > thead > tr > .th3{
    background-color: #ffdf94;
    font-weight: 900;
    font-size: 28px;
}

 .Page_Number  > .TypeNumber > .TypeNumberTable > tbody > tr > .td1,
.Page_Number  > .TypeNumber > .DivideTable > tbody > tr > .td1
 {

     background-color: #e7ecff;
     font-weight: 600;
     text-align: center;
     font-size: 28px;


 }
 .Page_Number  > .TypeNumber > .TypeNumberTable > tbody > .Number2Text{
     /*display: none;*/
 }
 .Page_Number  > .TypeNumber > .TypeNumberTable > tbody > .Number3Text{
    /* display: none;*/
 }
 .Page_Number > .TypeNumber > .Number1_1{
     position: absolute;
     left: 0%;
     top: 11%;
     width: 550px;
     height: 69px;
 }




 .Answer{
    background-image: url(../img/stage3/ans_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 63%;
    left: 21.7%;
    width: 123px;
    height: 211px;

    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
 }
.Ans{
    width: 84px;
    height: 87px;
    margin-top: 13%;
}
.AnsUp{
    margin-top: 3%;
    width: 84px;
    height: 39px;
}
 .AnsDown{
    width: 84px;
    height: 39px;
 }
 .Equal{
    width: 44px;
    height: 22px;
    position: absolute;
    top: 33%;
    left: 63%;
 }
 .Straight{
    width: 150px;
    height: 89px;
    position: absolute;
    top: 85%;
    left: 175%;

 }
 .Red{
     color: red;
 }
 .ShowStraight{
    position: absolute;
    left: 70.5%;
    width: 340px;
    top: 115%;
    display: none;
 }
 .StraightText{
    width: 340px;
    text-align: right;
    font-size: 40px;
    height: 47px;
 }
 .StraightLine{
    border-bottom-style: solid;
    border-bottom-color: #B6B6B6;
    position: absolute;
    top: 64.3%;
    right: -2%;
    width: 200px;
    border-bottom-width: 2px;
 }

 .StraightImg{
    position: absolute;
    top: 23.3%;
    right: 41%;
    width: 72px;
    height: 72px;
    transform: scale(0.45);
 }
.DivideLine{
    position: absolute;
    top: 11.3%;
    left: 37%;
}
.DivideTable{
    position: absolute;
    top: 11%;
    left: -5.4%;
}

.TableLine{
    border-top: 2px solid #a5a4a9;
    border-spacing: 0px 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -1px;
    margin-bottom: -1px;
    display: none;
 }
 .TableLine > td{
    width: 94px; 
    height: 0px;
 }
 .thup{
     background-color: transparent;
     width: 49px !important;
     min-width: 49px !important;
 }
 .imgflod{
    width: 49px;
    height: 49px;
 }

 .th3H{
    min-width:194px!important;
     height: 49px ;
     background-color: #ffdf94;
 }
.thtr3H{
    display: none;
}
.thtr1H{
    display: none;
}
.thGray{
    color: #979695;
}


tr,thead {display: block;}

.th1,.th2,.th3 {
   min-width:194px!important;
    height: 95px;
}
td{
    min-width:96px!important;
    height: 95px;
}
input{
    width: 91px;
    height: 90px;
    font-size: 28px !important;
    text-align: center;
}
 tbody { display: block; } 

 .thN,.tdN{
    min-width:49px!important;
    height: 95px;
	color: #a3a3a3;
    font-weight: 900;
    font-size: 35px;
 }
 .Number2Text{
     display: none;
 }
 .Number3Text{
    display: none;
}
.thNH{
    min-width:49px!important;
     height: 49px ;
 }

 input[type="number" i] {
    padding: 0px;
}
.thN,.tdN,td,th{
    padding: 0px;
    margin: 0px;
    border: 1px white solid;
}