.Page_BigNumber {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;

	width: 1920px;
	height: 900px;
	overflow: hidden;
	/*display:none;*/
}

.Page_BigNumber > .TypeNumber {
	position: absolute;
	left: 3%;
    top: 1%;
	z-index: 1;
    width: 1800px;
    height: 800px;
}
.Page_BigNumber > .TypeNumber > .Number1{
	position: absolute;
	left: 0%;
	top: 65%;
    width: 1800px;
    height: 69px;
}
.Page_BigNumber > .TypeNumber > .Number2{
	position: absolute;
	left: 0%;
	top: 65%;
    width: 1800px;
    height: 69px;
	/*display: none;*/
}
.Page_BigNumber > .TypeNumber > .Number3{
	position: absolute;
	left: 0%;
	top: 78%;
    width: 1800px;
    height: 69px;
	/*display: none;*/
}
.Page_BigNumber > .TypeNumber >  div > .divinput,
.Page_BigNumber > .TypeNumber >  div > .divinput2{
	background-image: url(../img/gray02.png);
	background-repeat: no-repeat;
	background-size:contain;


	position: absolute;
    top: 0%;
    left: 4%;
	text-align: center;
    align-items: center;
   /* width: 544px;
    height: 69px;*/
    background-image: url(../img/gray01.png);
    left:  22%;
    width: 211px;
    height: 69px;
}
.Page_BigNumber > .TypeNumber >  div > .divinput2{
    left: 38.3%;
}
.Page_BigNumber > .TypeNumber >  div > .divinput > input,
.Page_BigNumber > .TypeNumber >  div > .divinput2 > input{ 
    /*width: 435px;
    height: 69px;*/
    font-size: 45px;

    width: 150px;
    height: 69px;
}
.Page_BigNumber > .TypeNumber >  div >.Plus{
	position: absolute;
    top: 21%;
    left: 35.1%;
    width: 38px;
    height: 38px;
}
.Page_BigNumber > .TypeNumber > div >.txtTitle{
	position: absolute;
    top: 10%;
	left: 0%;
	color: #a3a3a3;
	font-weight: 900;
	font-size: 45px;

    width: 30px;
    height: 69px;
}
.Page_BigNumber > .TypeNumber > div > .underline{
    /* border-bottom: #868686 solid 2px;*/
     border-bottom-style: solid;
     border-bottom-color:#868686 ;
     position: absolute;
     top: 0%;
     top: -1%;
     left: 72.5%;
     
     font-size: 45px;
     text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;


    width: 540px;
    height: 69px;

    left: 54.5%;
 }
 .Page_BigNumber > .TypeNumber > div > .Read{
     position: absolute;
     top: 1%;
     left: 28.5%;
     left: 35%;

     width: 114px;
     height: 68px;
 }
 .Page_BigNumber > .TypeNumber > div > .Add{
     position: absolute;
     top: 21%;
     left: 100%;

     width: 57px;
     height: 57px;
 }
 .Page_BigNumber  > .TypeNumber > .TypeNumberTable{
     /*position: absolute;*/
     top: 0%;
     left: 4%;
 }
 .Page_BigNumber > .TypeNumber > .TypeNumberTable > thead > tr > .th1{
     background-color: #72db72;
     font-weight: 900;
     font-size: 36px;

 }
 .Page_BigNumber > .TypeNumber > .TypeNumberTable > thead > tr > .th2{
    background-color: #ffdf94;
    font-weight: 900;
    font-size: 36px;

}
.Page_BigNumber > .TypeNumber > .TypeNumberTable > thead > tr > .th2_1{
    background-color: #ffdf94;
    font-weight: 900;
    font-size: 34px;

}

 .Page_BigNumber  > .TypeNumber > .TypeNumberTable > tbody > tr > .td1{
     background-color: #e7ecff;
     font-weight: 600;
     text-align: center;
     font-size: 36px;



 }
 tr,thead {display: block;}
 th, td { width: 94px; height: 49px;}
 tbody { display: block; } 
 .TableLine{
    border-top: 2px solid #a5a4a9;
    border-spacing: 0px 0px;
    margin-left: 2px;
    margin-right: 2px;

    margin-top: -1px;
    margin-bottom: -1px;

    /*margin-top: 1px;
    margin-bottom: 1px;*/
 }
 .TableLine > td{
    width: 94px; 
    height: 0px;
 }
 .Page_BigNumber  > .TypeNumber > .TypeNumberTable > tbody > .Number2Text{
     /*display: none;*/
 }
 .Page_BigNumber  > .TypeNumber > .TypeNumberTable > tbody > .Number3Text{
     /*display: none;*/
 }
 .Page_BigNumber > .TypeNumber > .Number1_1{
     position: absolute;
     left: 0%;
     top: 11%;
 }
 .Page_BigNumber > .TypeNumber > .Number2_1{
     position: absolute;
     left: 0%;
     top: 23%;
    /* display: none;*/
 }
 .Page_BigNumber > .TypeNumber > .Number3_1{
     position: absolute;
     left: 0%;
     top: 36%;
     /*display: none;*/
 }
 .Page_BigNumber > .TypeNumber  > .UnitSelect{
    background-image: url(../img/icon01_bg.png);
	background-repeat: no-repeat;
	background-size:contain;


	position: absolute;
    top: 87.7%;
    left: 79%;

        
    width: 240px;
    height: 89px;
 }
 .Page_BigNumber > .TypeNumber  > .UnitSelect > .Trillion{
	position: absolute;
    top: 13%;
    left: 6%;
    
    width: 64px;
    height: 64px;
 }
 .Page_BigNumber > .TypeNumber  > .UnitSelect > .Billion{
	position: absolute;
    top: 13%;
    left: 36%;
        
    width: 64px;
    height: 64px;
 }


 .Answer{
    background-image: url(../img/stage3/ans_bg.png);
	background-repeat: no-repeat;
	background-size:contain;


	position: absolute;
    top: 64%;
    left: -2.8%;
    width: 123px;
    height: 211px;
    left:14.2%
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
 }
.Ans{
    width: 84px;
    height: 87px;
    margin-top: 13%;
}
.AnsUp{
    margin-top: 3%;
    width: 84px;
    height: 39px;
}
 .AnsDown{
    width: 84px;
    height: 39px;
 }
 .Equal{
    width: 44px;
    height: 22px;
    position: absolute;
    top: 33%;
    left: 69%;
    left:51%
 }
 .Straight{
    width: 150px;
    height: 89px;
    position: absolute;
    top: 88%;
    left: 93%;

 }
 .Red{
     color: red;
 }
 .ShowStraight{
    position: absolute;
    left: 70.5%;
    width: 540px;
    top: 126%;
    display: none;
 }
 .StraightText{
    width: 540px;
    text-align: right;
    font-size: 40px;
    height: 47px;
 }
 .StraightLine{
    border-bottom-style: solid;
    border-bottom-color: #B6B6B6;
    position: absolute;
    top: 69.5%;
    right: -7%;
    width: 540px;
    border-bottom-width: 2px;
 }

 .StraightImg{
    position: absolute;
    top: 25.3%;
    right: 83%;
    width: 72px;
    height: 72px;
    transform: scale(0.45);
 }
 .PlusImg{
    position: absolute;
    top: 14.9%;
    left: 1.8%;
    left:38.8%;
    width: 38px;
    height: 38px;
 }
 .Thousand{
    position: absolute;
    top: 13%;
    left: 37%;
    width: 64px;
    height: 64px;
 }

.Million{
    position: absolute;
    top: 13%;
    left: 7%;
    width: 64px;
    height: 64px;
}
.Hundred{
    position: absolute;
    top: 13%;
    left: 66%;
    width: 64px;
    height: 64px;
}
.td2,.th2,.th1_1,.td1_1{
    display: none
}