.Page_Number {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;

	width: 1920px;
	height: 900px;
	overflow: hidden;
	/*display:none;*/
}

.Page_Number > .TypeNumber {
	position: absolute;
	left: 2%;
    top: 3%;
	z-index: 1;
    width: 900px;
    height: 800px;
}
.Page_Number > .TypeNumber > .Number1{
	position: absolute;
	left: 0%;
	top: 53%;
    width: 900px;
    height: 69px;
}
.Page_Number > .TypeNumber > .Number2{
	position: absolute;
	left: 0%;
	top: 65%;
	display: none;
    width: 900px;
    height: 69px;
}
.Page_Number > .TypeNumber > .Number3{
	position: absolute;
	left: 0%;
	top: 78%;
	display: none;
    width: 900px;
    height: 69px;
}
.Page_Number > .TypeNumber >  div > .divinput{
	background-image: url(../img/gray01.png);
	background-repeat: no-repeat;
	background-size:contain;


	position: absolute;
    top: 0%;
    left: 4%;
	text-align: center;
    align-items: center;

    width: 211px;
    height: 69px;
}
.Page_Number > .TypeNumber > div > .divinput > input{
    width: 110px;
    height: 69px;
    font-size: 45px;
}
.Page_Number > .TypeNumber > div >.txtTitle{
	position: absolute;
    top: 10%;
	left: 0%;
	color: #a3a3a3;
	font-weight: 900;
	font-size: 45px;

    width: 30px;
    height: 69px;
}
.Page_Number > .TypeNumber > div > .underline{
    /* border-bottom: #868686 solid 2px;*/
     border-bottom-style: solid;
     border-bottom-color:#868686 ;
     position: absolute;
     top: 0%;
     left: 41.5%;
     font-size: 45px;

     width: 340px;
     height: 69px;

     border-bottom-width: 2px;
 }
 .Page_Number > .TypeNumber > div > .Read{
     position: absolute;
     top: 1%;
     left: 28.5%;
     width: 114px;
     height: 68px;
 }
 .Page_Number > .TypeNumber > div > .Add{
     position: absolute;
     top: 21%;
     left: 83%;
     width: 57px;
     height: 57px;
 }
 .Page_Number  > .TypeNumber > .TypeNumberTable{
     position: absolute;
     top: 0%;
     left: 4%;
 }
 .Page_Number > .TypeNumber > .TypeNumberTable > thead > tr > .th1{
     background-color: #72db72;
     font-weight: 900;
     font-size: 45px;

     width: 92px;
     height: 69px;
 }
 .Page_Number  > .TypeNumber > .TypeNumberTable > tbody > tr > .td1{
     background-color: #e7ecff;
     font-weight: 600;
     text-align: center;
     font-size: 45px;

     width: 92px;
     height: 96px;
 }
 .Page_Number  > .TypeNumber > .TypeNumberTable > tbody > .Number2Text{
     display: none;
 }
 .Page_Number  > .TypeNumber > .TypeNumberTable > tbody > .Number3Text{
     display: none;
 }
 .Page_Number > .TypeNumber > .Number1_1{
     position: absolute;
     left: 0%;
     top: 11%;
     width: 550px;
     height: 69px;
 }
 .Page_Number > .TypeNumber > .Number2_1{
     position: absolute;
     left: 0%;
     top: 23%;
     display: none;
     width: 550px;
     height: 69px;
 }
 .Page_Number > .TypeNumber > .Number3_1{
     position: absolute;
     left: 0%;
     top: 36%;
     display: none;
     width: 550px;
     height: 69px;
 }

 