.color_1{
    background: powderblue;
}
.color_2
{
    background: palegoldenrod
}
.color_3{
    background: palevioletred
}

.color_4{
    background: palegreen
}

.color_5{
    background: pink
}
.color_6{
    background: royalblue;
}

.color_7{
    background: rosybrown
}